.loader{
    height: 100vh;
    width: 100%;
    background-color: #191B1D;
    z-index: 99;
    position: fixed;
}
.loader_progress_main{
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.loader_progress, .loader_progress_percentage{
    color: #b2b2b2;
    font-family: f1;
    font-weight: bolder;
    font-size: 8rem;
    /* transform: translateY(100%); */
}