.section3 {
  /* height: 100vh; */
  /* background-color: #090c0f; */
  padding: 6vw 0;
  width: 100%;
  > .video {
    height: 470px;
    width: 370px;
    position: relative;

    > video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.anim_line1,
.anim_line2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: f1;
  width: 100%;
  overflow-x: auto;
  padding-left: 15vw;
  overflow-y: hidden;
}

.anim_line2 {
  padding-left: 0;
  top: 60%;
}

.anim_line1::-webkit-scrollbar,
.anim_line2::-webkit-scrollbar {
  display: none;
}
.anim_line1 h1,
.anim_line2 h1 {
  white-space: nowrap;
}
.anim_line1 h1 span,
.anim_line2 h1 span {
  display: inline-block;
  flex-shrink: 0;
  width: max-content;
}

.anim_line1 h1 span,
.anim_line2 h1 span {
  font-size: 5vw;
  position: relative;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes moveReverce {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

@media (max-width: 768px) {
  .anim_line1 h1 span,
  .anim_line2 h1 span {
    font-size: 6.2vw;
    position: relative;
  }
  .anim_line1 h1 span,
  .anim_line2 h1 span {
    font-size: 14vw;
  }
}
